body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
    text-align: center;
}

thead {
    color: white;
}

td, th {
    position: relative;
}

td {
    width: 18vw;
    height: 35px;
}

thead > tr:nth-child(2) > td {
    height: 80px;
}

tbody > tr > th {
    padding-right: 10px;
    text-align: right;
    font-weight: normal;
    background-color: #fff;
}

tbody > tr:nth-child(even) {
    background-color: #eeeeee;
}

thead > tr > td:nth-child(2) {
    background-color: #77f;
}

thead > tr > td:nth-child(3) {
    background-color: #3e3;
}

thead > tr > td:nth-child(4) {
    background-color: #ff0000;
}

thead > tr > td:nth-child(5) {
    background-color: black;
}

/* Price */
thead > tr:nth-child(2) > td:nth-child(2) {
    background-color: #aaf;
}

thead > tr:nth-child(2) > td:nth-child(3) {
    background-color: #7f7;
}

thead > tr:nth-child(2) > td:nth-child(4) {
    background-color: #ff000080;
}

thead > tr:nth-child(2) > td:nth-child(5) {
    background-color: #222;
}

tbody > tr:last-child {
    height: 70px;
}

div {
    margin: auto;
    padding: 8px;
    width: 60%; 
    background-color: grey;
    color: white;
}